<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit reader</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/people/{id}(id=${person.getId()})}" th:object="${person}">
    <label for="name">Enter name for a person: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
    <br/>
    <label for="birth">Enter year of birth: </label>
    <input type="text" th:field="*{birth}" id="birth"/>
    <div style="color:red" th:if="${#fields.hasErrors('birth')}" th:errors="*{birth}">Birth error</div>
    <br/>
    <input type="submit" value="Update"/>
</form>

<br/>
<hr/>
<a href="/people">All people</a>
<br/>
<hr/>
<a href="/books">All books</a>

</body>
</html>