<?xml version="1.0" encoding="UTF-8"?>
    <beans xsi:schemaLocation=" http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd"
           xmlns:mvc="http://www.springframework.org/schema/mvc"
           xmlns:context="http://www.springframework.org/schema/context"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns="http://www.springframework.org/schema/beans">

    <context:component-scan base-package="ru.ratnikov.lessons"/>

    <mvc:annotation-driven/>

    <bean class="org.thymeleaf.spring5.templateresolver.SpringResourceTemplateResolver" id="templateResolver">
    <property value="/WEB-INF/views/" name="prefix"/>
    <property value=".html" name="suffix"/>
</bean>
    <bean class="org.thymeleaf.spring5.SpringTemplateEngine" id="templateEngine">
    <property name="templateResolver" ref="templateResolver"/>
    <property value="true" name="enableSpringELCompiler"/>
</bean>
    <bean class="org.thymeleaf.spring5.view.ThymeleafViewResolver">
    <property name="templateEngine" ref="templateEngine"/>
    <property value="1" name="order"/>
    <property value="*" name="viewNames"/>
</bean>
</beans>